@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html ::-webkit-scrollbar {
        width: 10px;
    }
    
    html ::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #1F2937;
    }
    
    html ::-webkit-scrollbar-track {
        background: #1D1D29;
    }

    body, a, a:hover {
        cursor: none;
    }

    @media (hover: none) {
        #cursor{
            visibility: hidden;
        }
    }

}

@layer components {
    .list {
        @apply flex flex-wrap justify-center border border-dashed border-lawn-green p-3 shadow-md shadow-lawn-green m-3;
    }

    .item-list {
        @apply mr-2 sm:text-2xl;
    }

    .card {
        @apply w-full custom-shadow mb-24 rounded-md bg-gray-800;
    }

    .content {
        @apply flex flex-col p-8 text-base sm:text-lg gap-2 sm:gap-8;
    }

    .title-card {
        @apply font-tech text-lawn-green pb-2;
    }

    .link-card {
        @apply flex items-center font-tech text-lawn-green w-max;
    }

    .cursor {
        @apply w-12 h-12 border-2 border-lawn-green rounded-full fixed transform -translate-y-2/4 -translate-x-2/4 pointer-events-none custom-transition z-10;
    }

    .sticky-title {
        @apply font-semibold py-5 sticky top-0 bg-midnight-gray sm:static;
    }

    @media (hover: hover) {
        .grow {
            @apply scale-150 bg-lawn-green;
        }
        
        .link-hover {
            @apply text-midnight-gray z-20;
        }
    }
}

@layer utilities {
    .custom-transition {
        transition-property: transform, background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    }

    .custom-shadow {
        box-shadow:3px 3px 5px rgba(0,0,0,0.5);
    }
    
}