@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *, html {
        scroll-behavior: smooth;
    }
    
    html ::-webkit-scrollbar {
        width: 10px;
    }
    
    html ::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #1F2937;
    }
    
    html ::-webkit-scrollbar-track {
        background: #1D1D29;
    }

    body, a, a:hover {
        cursor: none;
    }

}

@layer components {
    .list {
        @apply flex flex-wrap justify-center border border-dashed border-lawn-green p-3 shadow-md shadow-lawn-green m-4;
    }

    .item-list {
        @apply mr-2 sm:text-2xl;
    }

    .card {
        @apply w-full shadow-custom mb-24 rounded-md bg-gray-800;
    }

    .content {
        @apply flex flex-col p-8 text-base sm:text-lg gap-2 sm:gap-8;
    }

    .title-card {
        @apply font-tech text-lawn-green pb-2;
    }

    .link-card {
        @apply flex items-center font-tech text-lawn-green;
    }

    .cursor {
        @apply w-12 h-12 border-2 border-lawn-green rounded-full fixed transform -translate-y-2/4 -translate-x-2/4 pointer-events-none;
    }

    .grow {
        @apply scale-150;
    }

}